body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.primary-text {
    color: #007bff; /* Jonas */
}
.secondary-text {
    color: #dc3545; /* Lindo */
}
.accent-bg {
    background-color: #e02c25; /* De verdade */
}
.highlight {
    color: #ed1488; /* Jonas  maravilhoso */
    font-weight: bold;
}